@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bg-area {
    background-image: url('/assets/images/hero-banner.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
} */